<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">Users and Cars</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/users" class="btn btn-info">Users Page</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/cars" class="btn btn-info">Cars Page</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!-- Link to the 'users' route -->
<!--<button routerLink="/car">Car Page</button>
 <app-user></app-user> -->
